<div class="container">
  <h1 class="title">Add Recipe</h1>
  <form (ngSubmit)="sendData()">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="form-floating mb-3" [formGroup]="newRecipe">
      <input
        type="text"
        class="form-control"
        id="nameR"
        name="nameR"
        formControlName="name"
        placeholder="Enter your name"
      />
      <label for="name">Recipe Name</label>
    </div>
    <div class="form-floating mb-3" [formGroup]="newRecipe">
      <input
        type="text"
        class="form-control"
        id="ingR"
        formControlName="ingredients"
        name="ingR"
        placeholder=""
      />
      <label for="ingR">Ingredients</label>
    </div>
    <div class="form-floating mb-3" [formGroup]="newRecipe">
      <select
        name="cat"
        id="cat"
        class="form-select"
        formControlName="category"
      >
        <option value="1">Dessert</option>
      </select>
      <label for="cat">Category</label>
    </div>
    <div class="input-group mb-3" [formGroup]="newRecipe">
      <label for="imgR" class="input-group-text">Image url</label>
      <input
        type="file"
        (change)="onSelectFile($event, 'image')"
        class="form-control"
        id="imgR"
        formControlName="image"
        name="imgR"
        placeholder=""
      />
    </div>
    <div class="input-group mb-3" [formGroup]="newRecipe">
      <label for="vidR" class="input-group-text"
        >Video url (Optional if there is a description)</label
      >
      <input
        type="file"
        (change)="onSelectFile($event, 'video')"
        class="form-control"
        id="vidR"
        formControlName="video"
        name="vidR"
        placeholder=""
      />
    </div>
    <div class="form-floating mb-4" [formGroup]="newRecipe">
      <input
        type="text"
        class="form-control"
        id="pubR"
        name="pubR"
        placeholder=""
        formControlName="publisher"
      />
      <label for="imgR">Publisher</label>
    </div>
    <div class="mb-3" [formGroup]="newRecipe">
      <label for="descR">Description (optional if there is a video)</label>
      <textarea
        class="form-control"
        id="descR"
        name="descR"
        formControlName="description"
        placeholder="Description"
        rows="4"
        cols="50"
      ></textarea>
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary mb-4 me-3">Add Recipe</button>
    <button type="reset" class="btn btn-danger mb-4">Cancel</button>
  </form>
</div>
