<div class="container mt-5">
  <p class="fs-1 fw-bold">About</p>
  <p class="bd-lead fs-2">
    Learn more about the team maintaining Taste&Share, and how to get involved.
  </p>
  <h2>Team</h2>
  <p class="fs-3 text-muted">
    Taste&Share is managed by a dedicated team of developers on GitHub. We're
    actively seeking to expand our team and would be thrilled to hear from you
    if you're passionate about cooking, sharing, and discovering new recipes.
    Join us in our culinary journey!
  </p>
  <h2>Get involved</h2>
  <p class="fs-3 text-muted">
    Join Taste&Share's developer team by filling out the form below. If you're
    enthusiastic about coding and love the world of cooking, we want to hear
    from you. Let's collaborate to create something amazing together!
  </p>
  <div class="card-group">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="..." class="img-fluid rounded-start" alt="Card Image 1" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card Title 1</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <p class="card-text">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="..." class="img-fluid rounded-start" alt="Card Image 2" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card Title 2</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="..." class="img-fluid rounded-start" alt="Card Image 3" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card Title 3</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
