.welcome {
  height: 100vh;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.welcome-message {
  text-align: center;
  text-shadow: #333 1px 1px;
}

.welcome-message h1 {
  font-size: 60px;
  color: white;
  margin-bottom: 30px;
}
.welcome-message h3 {
  color: rgb(255, 255, 255);
  font-size: 24px;
}
