<div class="container">
  <h1 class="title">Services</h1>
  <div class="services row justify-content-center">
    <div class="col-3">
      <div class="card">
        <img src="assets/community.svg" alt="" class="card-img-top img-fluid" />
        <h3 class="card-title">Community Aspect</h3>
        <div class="card-body">
          <p class="card-text">
            Join our food-loving community! Share recipes, swap cooking tips,
            and connect with fellow culinary enthusiasts in a supportive
            atmosphere.
          </p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img
          src="assets/categories.svg"
          alt=""
          class="card-img-top img-fluid"
        />
        <h3 class="card-title">Various Content</h3>
        <div class="card-body">
          <p class="card-text">
            Explore a vast collection of recipes, tutorials, and articles
            covering diverse cuisines and cooking techniques. From family
            favorites to global flavors, there's something for everyone.
          </p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img src="assets/security.svg" alt="" class="card-img-top img-fluid" />
        <h3 class="card-title">Security</h3>
        <div class="card-body">
          <p class="card-text">
            Your data is safe with us. We prioritize user privacy with encrypted
            connections and regular security updates to ensure a secure online
            environment for all.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
