<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="pinterest-post">
        <div class="pinterest-post-user">
          <a href="#"
            ><img
              src="user-pic"
              alt="user-pic"
              src="assets/images/bell_icon.svg"
            />
            <h5 class="pinterest-post-title">
              Stunning Modern Architecture Designs
            </h5></a
          >
        </div>
        <img
          src="assets/images/profile.jpg"
          class="recipe-pic"
          alt="Architecture Image"
        />
        <button class="like-button"><i class="bi bi-heart"></i></button>
      </div>
    </div>
  </div>
</div>
