<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="pinterest-post">
        <img src="https://placeimg.com/640/480/arch" alt="Architecture Image" />
        <div class="pinterest-post-content">
          <h5 class="pinterest-post-title">
            Stunning Modern Architecture Designs
          </h5>
          <p class="pinterest-post-description">
            Get inspired by these innovative and breathtaking architectural
            masterpieces. From captivating skyscrapers to eco-friendly homes,
            discover the future of building design.
          </p>
          <div class="pinterest-post-user">By <a href="#">John Doe</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
